body {
  margin: 0;
  background-color: ghostwhite;
  font-family: "Liberation Sans";
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
    text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: small;
  padding-right: 1rem;
}

a {
  color: violet;
  text-decoration: none;
}

#caca {
  display: flex;
}

#nav-top {
  display: block;
  background-color: darkviolet;
  font-family: "Rubik";
}

#nav-top ul {
  margin: 0;
  padding: 0.5rem;

  display: flex;
  justify-content: space-around;
  align-items: baseline;

  list-style: none;
}

#nav-top li {
  padding-right: 2rem;
}

#calc {
  display: none;
  height: 330px;
  width: 260px;
  margin: 0.4rem;
  border: 1px solid darkviolet;
}

@media screen and (max-width: 520px) {
  #caca {
    flex-direction: column;
  }
}

@media (orientation: portrait) {
  #nav-top {
    text-align: center;
  }

  #nav-top ul {
    display: block;
  }

  #nav-top ul > ul {
    display: flex;
    justify-content: space-evenly;
  }
}
